In [2]:
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Visualizing
import matplotlib.pyplot as plt
import seaborn as sns


import acquire_PJ

In [3]:
zillow_df = acquire_PJ.get_zillow_data()
zillow_df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None

In [4]:
zillow_df.shape

(77574, 68)

In [5]:
zillow_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77574 entries, 0 to 77573
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77574 non-null  int64
 1   parcelid                      77574 non-null  int64
 2   airconditioningtypeid         25006 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77574 non-null  float64
 6   bedroomcnt                    77574 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49808 non-null  float64
 9   calculatedbathnbr             76959 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6035 non-null   float64
 12  calculatedfinishedsquarefeet  77374 non-null  float64
 13  finishedsquarefeet12          73919 non-null  float64
 14  finishedsquarefeet13          42 non-null     float64
 15  finishedsquarefeet15          3027 non-null   float64
 16  finishedsquarefeet50          6035 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77574 non-null  float64
 19  fireplacecnt                  8287 non-null   float64
 20  fullbathcnt                   76959 non-null  float64
 21  garagecarcnt                  25517 non-null  float64
 22  garagetotalsqft               25517 non-null  float64
 23  hashottuborspa                1539 non-null   float64
 24  heatingorsystemtypeid         49569 non-null  float64
 25  latitude                      77574 non-null  float64
 26  longitude                     77574 non-null  float64
 27  lotsizesquarefeet             69317 non-null  float64
 28  poolcnt                       16173 non-null  float64
 29  poolsizesum                   869 non-null    float64
 30  pooltypeid10                  465 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15078 non-null  float64
 33  propertycountylandusecode     77574 non-null  object
 34  propertylandusetypeid         77574 non-null  float64
 35  propertyzoningdesc            50474 non-null  object
 36  rawcensustractandblock        77574 non-null  float64
 37  regionidcity                  76102 non-null  float64
 38  regionidcounty                77574 non-null  float64
 39  regionidneighborhood          30973 non-null  float64
 40  regionidzip                   77524 non-null  float64
 41  roomcnt                       77574 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10105 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50702 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77305 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77459 non-null  float64
 52  taxvaluedollarcnt             77573 non-null  float64
 53  assessmentyear                77574 non-null  float64
 54  landtaxvaluedollarcnt         77572 non-null  float64
 55  taxamount                     77569 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77327 non-null  float64
 59  logerror                      77574 non-null  float64
 60  transactiondate               77574 non-null  object
 61  airconditioningdesc           25006 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49569 non-null  object
 65  propertylandusedesc           77574 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.2+ MB

In [6]:
zillow_df.isna().sum()

id                              0
parcelid                        0
airconditioningtypeid       52568
architecturalstyletypeid    77368
basementsqft                77524
                            ...
buildingclassdesc           77559
heatingorsystemdesc         28005
propertylandusedesc             0
storydesc                   77524
typeconstructiondesc        77352
Length: 68, dtype: int64

In [11]:
zillow_df = zillow_df.rename(columns = {'fips':'county', 'calculatedfinishedsquarefeet' : 'area', 'bathroomcnt' : 'bathrooms',
                         'bedroomcnt' : 'bedrooms', 'poolcnt' : 'pools', 'garagecarcnt' : 'garages',
                          'taxvaluedollarcnt': 'tax_value'})

In [14]:
# Cleaning the data
# Creating counties
zillow_df['LA_County']= zillow_df['county'] == 6037
zillow_df['Orange_County']= zillow_df['county'] == 6059
zillow_df['Ventura_County']= zillow_df['county'] == 6111

In [16]:
zillow_df['LA_County'] = zillow_df['LA_County'].replace(False, 0)
zillow_df['LA_County'] = zillow_df['LA_County'].replace(True, 1)

zillow_df['Orange_County'] = zillow_df['Orange_County'].replace(False, 0)
zillow_df['Orange_County'] = zillow_df['Orange_County'].replace(True, 1)

zillow_df['Ventura_County'] = zillow_df['Ventura_County'].replace(False, 0)
zillow_df['Ventura_County'] = zillow_df['Ventura_County'].replace(True, 1)

In [ ]:
# Dropping columns
zillow_df.drop(columns = [''])

In [9]:
def yearbuilt_years(df):
    df.yearbuilt =  df.yearbuilt.astype(int)
    year = date.today().year
    df['age'] = year - df.yearbuilt
    # dropping the 'yearbuilt' column now that i have the age
    df = df.drop(columns=['yearbuilt'])
    return df

In [19]:
zillow_df.yearbuilt

ValueError: Cannot convert non-finite values (NA or inf) to integer